<div>
    <fieldset>
        <legend>Genre</legend>
        <div>
            <input id="action" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="action">Action</label>
        </div>
        <div>
            <input id="fighting" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="fighting">Fighting</label>
        </div>
        <div>
            <input id="fps" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="fps">First-Person Shooter</label>
        </div>
        <div>
            <input id="music" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="music">Music</label>
        </div>
        <div>
            <input id="pinball" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="pinball">Pinball</label>
        </div>
        <div>
            <input id="platformer" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="platformer">Platformer</label>
        </div>
        <div>
            <input id="pointnclick" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="pointnclick">Point & Click Adventure</label>
        </div>
        <div>
            <input id="puzzle" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="puzzle">Puzzle</label>
        </div>
        <div>
            <input id="racing" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="racing">Racing</label>
        </div>
        <div>
            <input id="rpg" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="rpg">Role-Playing Game</label>
        </div>
        <div>
            <input id="scrollingshooter" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="scrollingshooter">Scrolling Shooter</label>
        </div>
        <div>
            <input id="sim" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="sim">Simulation</label>
        </div>
        <div>
            <input id="sports" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="sports">Sports</label>
        </div>
        <div>
            <input id="stealth" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="stealth">Stealth</label>
        </div>
        <div>
            <input id="rts" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="rts">Real-Time Strategy</label>
        </div>
        <div>
            <input id="tps" type="checkbox" #genre (change)="filterByGenre()" />
            <label for="tps">Third-Person Shooter</label>
        </div>
    </fieldset>

    <fieldset>
        <legend>Platform</legend>
        <div>
            <input id="arcade" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="arcade">Arcade Machine</label>
        </div>
        <div>
            <input id="dos" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="dos">DOS</label>
        </div>
        <div>
            <input id="win3x" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="win3x">Windows 3.x</label>
        </div>
        <div>
            <input id="win95" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="win95">Windows 95</label>
        </div>
        <div>
            <input id="win98" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="win98">Windows 98</label>
        </div>
        <div>
            <input id="winxp" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="winxp">Windows XP</label>
        </div>
        <div>
            <input id="gb" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="gb">Game Boy</label>
        </div>
        <div>
            <input id="gba" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="gba">Game Boy Advance</label>
        </div>
        <div>
            <input id="nes" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="nes">NES</label>
        </div>
        <div>
            <input id="snes" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="snes">SNES</label>
        </div>
        <div>
            <input id="ps1" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="ps1">PlayStation 1</label>
        </div>
        <div>
            <input id="ps2" type="checkbox" #platform (change)="filterByPlatform()" />
            <label for="ps2">PlayStation 2</label>
        </div>
    </fieldset>
</div>