<div id="root" routerLink="" [queryParams]="{game: game.id}" (mouseenter)="enter()" (mouseleave)="leave()">
  <div id="img-container">
    <img src="https://jev8vvv1j7.execute-api.eu-west-1.amazonaws.com/test/images/{{game.imglink}}" alt="thumbnail" #img />
  </div>
  <div id="text">
    <div id="title">{{game.title}}</div>
    <div>Genre: {{game.genre}}</div>
    <div>
      <span>Platforms: </span>
      <span *ngFor="let platform of game.platforms">{{platform}} </span>
    </div>
  </div>
</div>