#root {
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(0 0 4px #00000020);
  overflow: hidden;
  padding: 0;
}

#img-container {
  align-items: center;
  background: #bebebe;
  display: flex;
  justify-content: center;
  height: 300px;
  overflow: hidden;
  width: 100%;
}

img {
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
  width: 100%;
}

#text {
  padding: 10px;
}

#title {
  font-size: large;
  font-weight: bold;
}